// slide
.swiper-bnr {
  width: 375px;
  height: 608px;
  img {
    width: 375px;
    height: 608px;
  }
}
// section-tit 공통부분
.sec-titbox {
  text-align: center;
  padding: 61px 61px 0px 61px;

  .sec-subtit-bk {
    @include ft-bdsz12;
    color: $txtDefult;
  }

  .sec-tit1 {
    @include ft-titsz35;
  }
  .sec-tit3 {
    @include ft-titsz25;
  }

  .sec-subtit-gray {
    @include ft-bdsz12;
    color: $gray-57B;
  }
}

// video
.video {
  width: 375px;
  height: 227px;
  background: $primary;
  .video-wraper {
    width: 100%;
    height: 100%;
    padding: 15px;
    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// section-vita 공통부분
.sec-titbox {
  text-align: center;
  padding: 61px 61px 0px 61px;

  .sec-subtit-bk {
    @include ft-bdsz12;
    color: $txtDefult;
  }

  .sec-tit1 {
    @include ft-titsz35;
  }
}

.sec-text {
  text-align: center;
  ul {
    li {
      width: 100%;
      margin-bottom: 1px;
      span {
        @include icon-check;
        @include ft-bdsz14H;
      }
    }
  }
}

// vita500
.vita-mp {
  .sec-img {
    width: 253px;
    height: 238px;
    margin: 0 61px;
    //   translate: (60px -60px);
    //   margin 이용
    // translate는 자리에서 움직일 때 주로 사용
    img {
      width: 253px;
      height: 238px;
    }
  }
}
// vita-500 zero

.vita-zero {
  .sec-titbox {
    padding: 55px 61px 0px 61px;
  }
  .sec-img {
    width: 196px;
    height: 222px;
    padding: 0 88px;
    margin-bottom: 7px;
    img {
      width: 196px;
      height: 222px;
    }
  }
}

// vita500 reh

.vita-reh {
  margin: 0;
  .sec-titbox {
    .sec-tit2 {
      @include ft-titsz25B;
    }
  }
  .sec-img {
    padding: 16px 150px 0px 150px;
    margin-bottom: 10px;
    img {
      width: 78px;
      height: 197px;
    }
  }
  .text-reh {
    text-align: center;
    li {
      @include ft-bdsz14H;
    }
  }
}

// history

.swiper-history {
  .swiper-wrapper {
    height: 330px;
    // overflow: hidden;
  }
}

.his-titbox {
  display: block;
  text-align: center;
  padding: 30px 0 0;
  em {
    @include ft-bdsz12;
  }
  .sec-tit2 {
    @include ft-titsz25B;
  }
}

.vita-hist {
  .hist-img {
    padding: 11px 19px 23px;
    img {
      width: 338px;
      height: 244px;
      border-radius: 10px;
    }
  }
}

.hiscard {
  display: flex;
  padding-bottom: 25px;
  padding: 0 25px 25px;
  .hiscard-year {
    padding: 15px;
  }
  .hiscard-text {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-left: 14px;

    span {
      @include ft-bdsz14;
      padding-bottom: 5px;
    }
  }
  .hiscard-img {
    padding-left: 3px;
    img {
      width: 44px;
      height: 48px;
    }
  }

  .hiscard-year {
    @include ft-titsz18B;
    padding-left: 0px;
    padding-right: 14px;
  }
}

// section-prod & video 공통

.vita-prod {
  .sec-titbox {
    padding-top: 70px;
    padding-bottom: 19px;
    .sec-tit3 {
      padding-bottom: 5px;
    }
  }
}

.swiper-prod {
  .swiper-slide {
    padding: 0 25px;
    .prod-box {
      @include prod-box;
    }
    .prod-imgbox {
      img {
        width: 183px;
        height: 185px;
      }
    }
  }
}

.prod-box {
  .prod-textbox {
    padding-left: 12px;
    .prod-text-tit {
      padding-bottom: 9px;
      @include ft-bdsz16;
    }
    .prod-text-info {
      @include ft-bdsz10;
      color: $gray-57B;
    }
  }
}
