// header
#logo {
  position: relative;
  z-index: 1100;
  width: 154px;
  height: 37px;
  margin: 15px 20px 10px;

  background-image: url(../../images/comm/m_logo_color.png);
  background-size: cover;
  text-indent: -9999px;
}

.gnb-wrap {
  display: flex;
  flex-direction: row-reverse;
}

.gnb-wrap {
  .inp-burger {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: none;
    opacity: 0;
    visibility: hidden;
  }
  .label-burger {
    position: absolute;
    top: 22px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;

    .bar {
      display: block;
      width: 20px;
      height: 3px;
      border-radius: 3px;
      background-color: $txtDefult;
    }
  }
}

#gnb {
  .nav-list {
    background: $white;
  }
  .nav-list-depth1 {
    @include ft-titsz18B;
    display: block;
    width: 375px;
    height: 55px;
    padding-top: 16px;
    padding-left: 16px;
    border-bottom: 1px solid $gray-lineD;
    // background-color: cadetblue;
  }
  .nav-list-depth1:first-child {
    border-top: 1px solid $gray-lineD;
  }
  .nav-list-depth2 {
    display: none;
  }
}

// slide
.swiper-bnr {
  opacity: 0;
  width: 375px;
  height: 608px;
  img {
    width: 375px;
    height: 608px;
  }
}
// section-tit 공통부분
.sec-titbox {
  text-align: center;
  padding: 61px 61px 0px 61px;

  .sec-subtit-bk {
    @include ft-bdsz12;
    color: $txtDefult;
  }

  .sec-tit1 {
    @include ft-titsz35;
  }
  .sec-tit3 {
    @include ft-titsz25;
  }

  .sec-subtit-gray {
    @include ft-bdsz12;
    color: $gray-57B;
  }
}

// video
.video {
  width: 375px;
  height: 220px;
  background: $primary;
  .video-wraper {
    width: 100%;
    height: 100%;
    padding: 15px;
    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// section-vita 공통부분
.sec-titbox {
  text-align: center;
  padding: 61px 61px 0px 61px;

  .sec-subtit-bk {
    @include ft-bdsz12;
    color: $txtDefult;
  }

  .sec-tit1 {
    @include ft-titsz35;
  }
}

.sec-text {
  text-align: center;
  ul {
    li {
      width: 100%;
      margin-bottom: 1px;
      span {
        @include icon-check;
        @include ft-bdsz14H;
      }
    }
  }
}

// 그라데이션 배경
#main {
  .bg-vita {
    width: 100%;
    background: linear-gradient(180deg, #fff 0.01%, #fff 32.29%, #ffcc5f 100%);

    // background: linear-gradient(180deg, #fff 0.01%, #fff 32.29%, #ffe554 100%);

    // background: linear-gradient(180deg, #fff 0.01%, #fff 32.29%, #ffbf37 100%);
  }
}
// vita500
.vita-mp {
  .sec-img {
    width: 253px;
    height: 238px;
    margin: 0 61px;
    //   translate: (60px -60px);
    //   margin 이용
    // translate는 자리에서 움직일 때 주로 사용
    img {
      width: 253px;
      height: 238px;
    }
  }
}
// vita-500 zero

.vita-zero {
  .sec-titbox {
    padding: 55px 61px 0px 61px;
  }
  .sec-img {
    width: 196px;
    height: 222px;
    padding: 0 88px;
    margin-bottom: 7px;
    img {
      width: 196px;
      height: 222px;
    }
  }
}

// vita500 reh

.vita-reh {
  margin: 0;
  .sec-titbox {
    .sec-tit2 {
      @include ft-titsz25B;
    }
  }
  .sec-img {
    padding: 16px 150px 0px 150px;
    margin-bottom: 10px;
    img {
      width: 78px;
      height: 197px;
    }
  }
  .text-reh {
    text-align: center;
    li {
      @include ft-bdsz14H;
    }
  }
}

.swiper-history {
  width: 100%;
  height: 320px;
  .swiper-slide {
    width: auto;
    height: auto;
  }
}

.his-titbox {
  display: block;
  text-align: center;
  padding: 55px 0 0;
  em {
    @include ft-bdsz12;
  }
  .sec-tit2 {
    @include ft-titsz25B;
  }
}

.vita-hist {
  .hist-img {
    padding: 11px 19px 23px;
    img {
      width: 338px;
      height: 244px;
      border-radius: 10px;
    }
  }
}

.hiscard {
  display: flex;
  padding-bottom: 25px;
  padding: 0 25px 25px;
  .hiscard-year {
    padding: 15px;
  }
  .hiscard-text {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-left: 14px;

    span {
      @include ft-bdsz14;
      padding-bottom: 5px;
    }
  }
  .hiscard-img {
    padding-left: 3px;
    img {
      width: 44px;
      height: 48px;
    }
  }

  .hiscard-year {
    @include ft-titsz18B;
    padding-left: 0px;
    padding-right: 14px;
  }
}

// section-prod & video 공통

.vita-prod {
  //   background: $white-bgcFC;
  //   background: #ffdc52;
  background: $primary;

  .sec-titbox {
    padding-top: 65px;
    padding-bottom: 28px;
    .sec-tit3 {
      padding-bottom: 5px;
    }
  }
}

.swiper-prod {
  .swiper-slide {
    padding: 0 19px;
    .prod-box {
      @include prod-box;
    }
    .prod-imgbox {
      img {
        border-radius: 10px;
        width: 183px;
        height: 185px;
      }
    }
  }
}
.vita-prod {
  .product-wrap {
    margin-bottom: 26px;
  }
}

.prod-box {
  .prod-textbox {
    padding: 0 12px;
    .prod-text-tit {
      padding-bottom: 9px;
      @include ft-bdsz16;
    }
    .prod-text-info {
      @include ft-bdsz10;
      color: $gray-57B;
    }
  }
}

.vita-prod {
  .goto {
    @include goto;
    margin-left: 142px;

    a {
      padding: 4px 14px;
      @include ft-bdsz12;
      color: $gray-57B;
    }
  }
}

// sec-video

.vita-vdo {
  .sec-tit3 {
    padding-bottom: 5px;
  }
  background: $white;
  .swiper-slide {
    padding: 15px 19px 35px;
    img {
      width: 338px;
      height: 192px;
      border-radius: 20px;
    }
  }
  .goto {
    @include goto;
    margin-left: 146px;

    a {
      padding: 4px 25px;
      @include ft-bdsz12;
      color: $gray-57B;
    }
  }
}

// goto 버튼 활성
.goto {
  &:hover,
  &:active {
    background-color: #faf3d7;
  }
}

// footer
#footer {
  .ft-menu {
    display: flex;
    justify-content: space-between;
    height: 44px;
    .ft-gotositesub {
      width: 187.5px;
      background-color: $bk-ft;
      border-bottom: 1px solid $gray-ft7B;
      span {
        @include ft-bdsz14;
        display: block;
        width: 100%;
        height: 100%;
        color: $white;
        text-align: center;
        padding: 14px;
        @include icon-down;
      }
    }
  }
}

#footer {
  .ft-container {
    background-color: $bk-ft;
    height: 189px;
    padding: 30px 14px 0;

    .ft-logo {
      text-indent: -9999px;
      width: 173px;
      height: 42px;
      background-image: url(../../images/comm/m_logo_gray.png);
      background-size: cover;
    }

    .ft-logoinfo {
      padding-top: 12px;
    }

    .ft-info {
      .ft-link {
        display: flex;
        justify-content: space-between;
        padding: 7px 0;
        a {
          border-right: 1px solid $gray-ft7B;
        }
        .a1 {
          padding-right: 24px;
        }
        .a2 {
          padding: 0 24px;
        }
        .a3 {
          padding-left: 24px;
          border: none;
        }
      }
    }

    a,
    p,
    .ft-copyright {
      color: $gray-ft7B;
      @include ft-bdsz14;
    }
  }
}

#footer {
  .ft-gotosns {
    border-right: 1px solid $gray-57B;
  }
}

// footer-오픈메뉴
#footer {
  .ft-menu {
    position: relative;
  }
  .ft-gotolist {
    display: none;
    color: $gray-ft7B;
    position: absolute;
    background: $white-bgcFC;
    width: 187px;
    height: 210px;
    z-index: 1000;
    bottom: 44px;
    ul {
      display: flex;
      flex-direction: column;
      padding-top: 8px;
      align-items: center;

      li {
        padding-top: 13px;
      }
    }
    a {
      display: block;
      width: 100%;
    }
  }

  .gotolist-sns {
    left: 0;
    padding-top: 38px;
    border-right: 1px solid $gray-ft7B;
  }

  .gotolist-family {
    right: 0;
  }
}

// footer-active
