// color
$txtDefult: #212126;
$primary: #ffcc5f;

$orange: #ffe554;
$bk-1C: #1c1c1b;
$bk-ft: #252222;

$gray-icon74: #747474;
$gray-ft7B: #7b7b7b;
$gray-57B: #57575b;
$gray-lineF4: #f4f4f4;
$gray-lineD: #dddddd;
$gray-subE4: #e4e4e4;

$white: #fff;
$white-bgcFC: #fcfcfc;

$red-4023: #ef4023;
$red-logo: #e8390e;

// layout
// height

$vitaH: 510px;
$vitahisH: 820px;
$vitavdoH: 460px;

// 반응형 미디어 쿼리
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1440px;
