// color
$txtDefult: #212126;
$primary: #ffcc5f;

$bk-57: #57575b;
$bk-1C: #1c1c1b;
$bk-ft: #252222;

$gray-icon74: #747474;
$gray-ft7B: #7b7b7b;
$gray-lineF4: #f4f4f4;
$gray-lineD: #dddddd;
$gray-subE4: #e4e4e4;

$white: #fff;
$white-bgcFC: #fcfcfc;

$red-4023: #ef4023;
$red-logo: #e8390e;

// layout
// height

$vitaH: 510px;
$vitahisH: 820px;
$vitavdoH: 447px;
