@import "variables", "mixins", "fonts", "resets";

// body-디자인이미지
body {
  background: url(../../PC_웹페이지1920_메인.png) no-repeat 50% 0;
  //   background: url("../../모바일_아이폰13미니_오픈.png") no-repeat 50% 0;
}

* {
  font-family: "Pretendard", "pretendard-regular";
}
// layout
.wrap {
  min-height: 100vh;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-216px);
  //   right: 0;
}

#main {
  min-height: calc(100vh - 4 * $vitaH - $vitahisH - $vitavdoH);

  .vita-mp,
  .vita-zero,
  .vita-reh {
    height: $vitaH;
  }

  .vita-hist {
    height: $vitahisH;
  }

  .vita-prod {
    height: $vitaH;
  }

  .vita-vdo {
    height: $vitavdoH;
  }
}

#footer {
  height: 233px;
}

@import "main", "sub1";

// PC

@media screen and (min-width: $breakpoint-xl) {
  .wrap {
    min-height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
  }
  #main {
    min-height: calc(
      100vh - $vitaintro-PC - 2 * $vitaH-PC - $vitarehH-PC - $vitahisH-PC -
        $vitaprodH-PC - $vitavdoH-PC
    );

    .vita-intro {
      height: $vitaintro-PC;
    }
    .vita-mp,
    .vita-zero {
      height: $vitaH-PC;
    }
    .vita-reh {
      height: $vitarehH-PC;
    }

    .vita-hist {
      height: $vitahisH-PC;
    }
    .vita-prod {
      height: $vitaprodH-PC;
    }
    .vita-vdo {
      height: $vitavdoH-PC;
    }
  }
  #footer {
    height: $vitaftH-PC;
  }
}

// section-vita-wrap 공통 - mobile
.vita-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  .sec-titbox {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sec-tit1 {
      @include ft-titsz35;
    }

    .sec-subtit-bk {
      @include ft-bdsz12;
    }
    .sec-subtit2 {
      display: none;
    }
  }
  .goto-wrap {
    display: none;
  }
  .sec-text {
    display: flex;
    justify-content: center;
    text-align: center;

    ul {
      li {
        margin-bottom: 1px;
        span {
          @include icon-check;
          @include ft-bdsz14H;
        }
      }
    }
  }
}

.vita-reh,
.vita-hist {
  .sec-tit2 {
    text-align: center;
    @include ft-titsz25B;
  }
}

// section-vita-wrap 공통 - PC
@media screen and (min-width: $breakpoint-xl) {
  .vita-wrap {
    .sec-titbox {
      .sec-subtit-bk {
        @include ft-titsz25;
      }
      .sec-tit1 {
        @include ft-titsz62;
        padding-top: 5px;
        padding-bottom: 12px;
      }
      .sec-subtit2 {
        @include ft-titsz18;
        color: $gray-57B;
      }
    }
    .sec-text {
      ul {
        li {
          padding-bottom: 12px;
          span {
            @include ft-bdsz23;
            &::before {
              margin-right: 10px;
            }
          }
        }
      }
    }
    .goto-wrap {
      display: block;
    }
  }
}

// section-prod & video 공통 - mobile

.vita-prod,
.vita-vdo {
  .sec-titbox {
    .sec-tit3 {
      text-align: center;
      @include ft-titsz25;
    }
    .sec-subtit-gray {
      display: block;
      padding-bottom: 9px;
      text-align: center;
      @include ft-bdsz12;
      color: $gray-57B;
    }
  }
}

// section-prod & video 공통 - PC
@media screen and (min-width: $breakpoint-xl) {
  .vita-prod,
  .vita-vdo {
    .sec-titbox {
      .sec-tit3 {
        @include ft-titsz40;
      }
      .sec-subtit-gray {
        @include ft-titsz18;
      }
    }
  }
}

// goto - mobile
.vita-prod,
.vita-vdo {
  .goto-wrap-pc {
    display: none;
  }
}

.goto-wrap-mobile {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  .goto {
    @include goto;
  }

  //   goto 활성
  .goto {
    &:hover,
    &:active {
      background: #faf3d7;
    }
  }
}

// goto-pc
@media screen and (min-width: $breakpoint-xl) {
  .vita-prod,
  .vita-vdo {
    .goto-wrap-mobile {
      display: none;

      .goto-wrap-pc {
        display: flex;
        justify-content: center;
        align-items: center;
        .goto {
          @include goto;
          a {
            color: $gray-57B;
            padding: 8px 15px;
            @include ft-bdsz14B;
          }
        }
      }
    }
  }

  //페이지 버튼 - mobile

  .swiper-prod,
  .swiper-vdo {
    .swiper-pg-pc {
      display: none;
    }
  }

  //페이지 아이콘 - pc
  @media screen and (min-width: $breakpoint-xl) {
    .swiper-prod,
    .siwper-vdo {
      .swiper-pg-pc {
        display: block;
      }
    }
  }
}
