@import "variables", "mixins", "fonts", "resets";

// body-디자인이미지
body {
  background: url("../../모바일_아이폰13미니_오픈.png") no-repeat 50% 0;
}

// layout
.wrap {
  min-height: 100vh;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .wrap {
    max-width: none;
  }
}
#header {
  position: absolute;
}

#main {
  min-height: calc(100vh - 4 * $vitaH - $vitahisH - $vitavdoH);

  .vita-mp,
  .vita-zero,
  .vita-reh {
    height: $vitaH;
  }

  .vita-hist {
    height: $vitahisH;
  }

  .vita-prod {
    height: $vitaH;
  }

  .vita-vdo {
    height: $vitavdoH;
  }
}

#footer {
  height: 233px;
}

@import "main", "sub1";
