@charset "UTF-8";
@font-face {
  font-family: "Pretendard", "pretendard-regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Pretendard", "pretendard-regular";
  color: #212126;
}

.blind {
  position: absolute;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
}

em {
  font-style: normal;
}

body {
  background: url("../../모바일_아이폰13미니_") no-repeat 50% 0;
}

.wrap {
  width: 375px;
  margin: 0 auto;
  max-width: 420px;
}

@media screen and (min-width: 1280px) {
  .wrap {
    max-width: none;
  }
}
#header {
  position: absolute;
}

#main {
  min-height: calc(100vh - 2040px - 820px - 460px);
}
#main .vita-mp,
#main .vita-zero,
#main .vita-reh {
  height: 510px;
}
#main .vita-hist {
  height: 820px;
}
#main .vita-prod {
  height: 510px;
}
#main .vita-vdo {
  height: 460px;
}

#footer {
  height: 233px;
}

.swiper-bnr {
  width: 375px;
  height: 608px;
}
.swiper-bnr img {
  width: 375px;
  height: 608px;
}

.sec-titbox {
  text-align: center;
  padding: 61px 61px 0px 61px;
}
.sec-titbox .sec-subtit-bk {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
  color: #212126;
}
.sec-titbox .sec-tit1 {
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 55px; /* 157.143% */
  letter-spacing: -1.4px;
}
.sec-titbox .sec-tit3 {
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1px;
}
.sec-titbox .sec-subtit-gray {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
  color: #57575b;
}

.video {
  width: 375px;
  height: 220px;
  background: #ffcc5f;
}
.video .video-wraper {
  width: 100%;
  height: 100%;
  padding: 15px;
}
.video .video-wraper iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sec-titbox {
  text-align: center;
  padding: 61px 61px 0px 61px;
}
.sec-titbox .sec-subtit-bk {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
  color: #212126;
}
.sec-titbox .sec-tit1 {
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 55px; /* 157.143% */
  letter-spacing: -1.4px;
}

.sec-text {
  text-align: center;
}
.sec-text ul li {
  width: 100%;
  margin-bottom: 1px;
}
.sec-text ul li span {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.56px;
}
.sec-text ul li span::before {
  content: "\e5ca";
  font-family: "Material Icons";
  font-size: 17px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  margin-right: 5px;
}

#main .bg-vita {
  width: 100%;
  background: linear-gradient(180deg, #fff 0.01%, #fff 32.29%, #ffe554 100%);
}

.vita-mp .sec-img {
  width: 253px;
  height: 238px;
  margin: 0 61px;
}
.vita-mp .sec-img img {
  width: 253px;
  height: 238px;
}

.vita-zero .sec-titbox {
  padding: 55px 61px 0px 61px;
}
.vita-zero .sec-img {
  width: 196px;
  height: 222px;
  padding: 0 88px;
  margin-bottom: 7px;
}
.vita-zero .sec-img img {
  width: 196px;
  height: 222px;
}

.vita-reh {
  margin: 0;
}
.vita-reh .sec-titbox .sec-tit2 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -1px;
}
.vita-reh .sec-img {
  padding: 16px 150px 0px 150px;
  margin-bottom: 10px;
}
.vita-reh .sec-img img {
  width: 78px;
  height: 197px;
}
.vita-reh .text-reh {
  text-align: center;
}
.vita-reh .text-reh li {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.56px;
}

.swiper-history {
  width: 100%;
  height: 320px;
}
.swiper-history .swiper-slide {
  width: auto;
  height: auto;
}

.his-titbox {
  display: block;
  text-align: center;
  padding: 55px 0 0;
}
.his-titbox em {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
}
.his-titbox .sec-tit2 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -1px;
}

.vita-hist .hist-img {
  padding: 11px 19px 23px;
}
.vita-hist .hist-img img {
  width: 338px;
  height: 244px;
  border-radius: 10px;
}

.hiscard {
  display: flex;
  padding-bottom: 25px;
  padding: 0 25px 25px;
}
.hiscard .hiscard-year {
  padding: 15px;
}
.hiscard .hiscard-text {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
  padding-left: 14px;
}
.hiscard .hiscard-text span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  padding-bottom: 5px;
}
.hiscard .hiscard-img {
  padding-left: 3px;
}
.hiscard .hiscard-img img {
  width: 44px;
  height: 48px;
}
.hiscard .hiscard-year {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.72px;
  padding-left: 0px;
  padding-right: 14px;
}

.vita-prod {
  background: #ffcc5f;
}
.vita-prod .sec-titbox {
  padding-top: 65px;
  padding-bottom: 28px;
}
.vita-prod .sec-titbox .sec-tit3 {
  padding-bottom: 5px;
}

.swiper-prod .swiper-slide {
  padding: 0 19px;
}
.swiper-prod .swiper-slide .prod-box {
  width: 186px;
  height: 251px;
  border: 1.5px solid #f4f4f4;
  border-radius: 10px;
  background-color: #fff;
}
.swiper-prod .swiper-slide .prod-imgbox img {
  border-radius: 10px;
  width: 183px;
  height: 185px;
}

.vita-prod .product-wrap {
  margin-bottom: 26px;
}

.prod-box .prod-textbox {
  padding: 0 12px;
}
.prod-box .prod-textbox .prod-text-tit {
  padding-bottom: 9px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
}
.prod-box .prod-textbox .prod-text-info {
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #57575b;
}

.vita-prod .goto {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #57575b;
  box-shadow: 1px 1px 1px 0px #57575b;
  margin-left: 142px;
  padding: 4px 14px;
}
.vita-prod .goto a {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
  color: #57575b;
}

.vita-vdo {
  background: #fff;
}
.vita-vdo .sec-tit3 {
  padding-bottom: 5px;
}
.vita-vdo .swiper-slide {
  padding: 15px 19px 35px;
}
.vita-vdo .swiper-slide img {
  width: 338px;
  height: 192px;
  border-radius: 20px;
}
.vita-vdo .goto {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #57575b;
  box-shadow: 1px 1px 1px 0px #57575b;
  margin-left: 146px;
  padding: 4px 25px;
}
.vita-vdo .goto a {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
  color: #57575b;
}

.goto:hover, .goto:active {
  background-color: #faf3d7;
}

#footer .ft-menu {
  display: flex;
  justify-content: space-between;
  height: 44px;
}
#footer .ft-menu .ft-gotositesub {
  width: 187.5px;
  background-color: #252222;
  border-bottom: 1px solid #7b7b7b;
}
#footer .ft-menu .ft-gotositesub span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  padding: 14px;
}
#footer .ft-menu .ft-gotositesub span::after {
  content: "\f13a";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 18px;
  vertical-align: middle;
  color: #fff;
  margin-left: 10px;
}

#footer .ft-container {
  background-color: #252222;
  height: 189px;
  padding: 30px 14px 0;
}
#footer .ft-container .ft-logo {
  text-indent: -9999px;
  width: 173px;
  height: 42px;
  background-image: url(../../images/comm/m_logo_gray.png);
  background-size: cover;
}
#footer .ft-container .ft-logoinfo {
  padding-top: 12px;
}
#footer .ft-container .ft-info .ft-link {
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
}
#footer .ft-container .ft-info .ft-link a {
  border-right: 1px solid #7b7b7b;
}
#footer .ft-container .ft-info .ft-link .a1 {
  padding-right: 24px;
}
#footer .ft-container .ft-info .ft-link .a2 {
  padding: 0 24px;
}
#footer .ft-container .ft-info .ft-link .a3 {
  padding-left: 24px;
  border: none;
}
#footer .ft-container a,
#footer .ft-container p,
#footer .ft-container .ft-copyright {
  color: #7b7b7b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}

#footer .ft-gotosns {
  border-right: 1px solid #57575b;
}

#footer .ft-menu {
  position: relative;
}
#footer .ft-gotolist {
  display: none;
  color: #7b7b7b;
  position: absolute;
  background: #fcfcfc;
  width: 187px;
  height: 210px;
  z-index: 1000;
  bottom: 44px;
}
#footer .ft-gotolist ul {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  align-items: center;
}
#footer .ft-gotolist ul li {
  padding-top: 13px;
}
#footer .ft-gotolist a {
  display: block;
  width: 100%;
}
#footer .gotolist-sns {
  left: 0;
  padding-top: 38px;
  border-right: 1px solid #7b7b7b;
}
#footer .gotolist-family {
  right: 0;
}/*# sourceMappingURL=comm.css.map */