@charset "UTF-8";
@font-face {
  font-family: "Pretendard", "pretendard-regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -moz-appearance: checkbox;
       appearance: checkbox;
  -webkit-appearance: checkbox;
}

button {
  -moz-appearance: button;
       appearance: button;
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -moz-appearance: button;
       appearance: button;
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #212126;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

body {
  background: url(../../PC_웹페이지1920_메인.png) no-repeat 50% 0;
}

* {
  font-family: "Pretendard", "pretendard-regular";
}

.wrap {
  min-height: 100vh;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-216px);
}

#main {
  min-height: calc(100vh - 2040px - 820px - 460px);
}
#main .vita-mp,
#main .vita-zero,
#main .vita-reh {
  height: 510px;
}
#main .vita-hist {
  height: 820px;
}
#main .vita-prod {
  height: 510px;
}
#main .vita-vdo {
  height: 460px;
}

#footer {
  height: 233px;
}

#header {
  width: 430px;
  z-index: 1100;
}
#header .inner {
  display: flex;
  justify-content: space-between;
}
#header .inner #logo {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1100;
  width: 154px;
  height: 37px;
  margin: 15px 20px 10px;
  background-image: url(../../images/comm/m_logo_color.png);
  background-size: cover;
  text-indent: -9999px;
}
#header .inner .gnb-wrap .menu-burger {
  padding-right: 20px;
}
#header .inner .gnb-wrap .menu-burger .inp-burger {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  opacity: 0;
  visibility: hidden;
}
#header .inner .gnb-wrap .menu-burger .label-burger {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
#header .inner .gnb-wrap .menu-burger .label-burger .bar {
  display: block;
  width: 20px;
  height: 3px;
  border-radius: 3px;
  background-color: #212126;
}
#header .inner .gnb-wrap #gnb {
  display: none;
  position: absolute;
  top: 65px;
  left: 0;
  background: #fff;
  width: 100%;
}
#header .inner .gnb-wrap #gnb .nav-list-depth1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.72px;
  width: 100%;
  height: 55px;
  display: block;
  padding-top: 16px;
  padding-left: 20px;
  border-bottom: 1px solid #dddddd;
  position: relative;
}
#header .inner .gnb-wrap #gnb .nav-list-depth1::before {
  content: "\f107";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 23px;
  position: absolute;
  right: 3%;
}
#header .inner .gnb-wrap #gnb .nav-list-depth1:first-child {
  border-top: 1px solid #dddddd;
}
#header .inner .gnb-wrap #gnb .nav-list-depth2 {
  display: none;
}

.swiper-bnr {
  width: 100%;
}
.swiper-bnr .swiper-slide {
  height: 680px;
}
.swiper-bnr .swiper-slide img {
  text-align: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video .video-wraper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  background: #ffcc5f;
}
.video .video-wraper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffcc5f;
}

@media screen and (min-width: 1280px) {
  .video {
    background: url(../../images/main/banner/main_video_bg_pc.png) 50% 0 no-repeat;
    padding-top: 130px;
    background-size: 1920px;
  }
  .video .video-wraper {
    background: none;
    margin: 0 auto;
    padding-bottom: 835px;
  }
  .video .video-wraper iframe {
    width: 1000px;
    height: 563px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.vita-intro {
  display: none;
}

.vita-mp .sec-titbox {
  padding-top: 70px;
}
.vita-mp .sec-img {
  height: 238px;
}
.vita-mp img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1280px) {
  .vita-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 179px;
  }
  .vita-intro em {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px; /* 137.5% */
    letter-spacing: -1.6px;
  }
  .vita-intro h2 {
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .vita-mp {
    position: relative;
    padding-top: 205px;
  }
  .vita-mp .vita-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
  }
  .vita-mp .vita-wrap .sec-titbox {
    align-items: flex-start;
  }
  .vita-mp .vita-wrap .sec-titbox .sec-subtit2 {
    display: block;
  }
  .vita-mp .vita-wrap .sec-text {
    padding-top: 38px;
  }
  .vita-mp .vita-wrap .sec-text ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .vita-mp .vita-wrap .sec-img {
    position: absolute;
    height: 526px;
    top: 14%;
    right: 1%;
  }
  .vita-mp .vita-wrap .goto-wrap {
    padding-left: 31px;
  }
  .vita-mp .vita-wrap .goto-wrap .goto {
    padding: 0 15px;
  }
}
.vita-zero .sec-titbox {
  padding-top: 65px;
}
.vita-zero .sec-titbox .subtit-pc {
  display: none;
}
.vita-zero .sec-img {
  height: 222px;
}
.vita-zero img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.vita-zero .sec-text {
  padding-top: 8px;
}

@media screen and (min-width: 1280px) {
  .vita-zero {
    position: relative;
    padding-top: 150px;
  }
  .vita-zero .vita-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
  }
  .vita-zero .vita-wrap .sec-titbox {
    align-items: flex-end;
  }
  .vita-zero .vita-wrap .sec-titbox .sec-subtit-bk {
    display: none;
  }
  .vita-zero .vita-wrap .sec-titbox .subtit-pc {
    display: block;
  }
  .vita-zero .vita-wrap .sec-titbox .sec-subtit2 {
    display: block;
  }
  .vita-zero .vita-wrap .sec-text {
    padding-top: 38px;
  }
  .vita-zero .vita-wrap .sec-text ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .vita-zero .sec-img {
    position: absolute;
    height: 526px;
    top: 10%;
    left: 0%;
  }
  .vita-zero .goto-wrap .goto {
    padding: 0 15px;
  }
}
.vita-reh .sec-titbox {
  padding-top: 15px;
}
.vita-reh .sec-img {
  text-align: center;
  height: 197px;
}
.vita-reh .sec-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.vita-reh .text-reh {
  text-align: center;
  padding-top: 30px;
}
.vita-reh .text-reh li {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.56px;
}
.vita-reh .sec-tit2-mobile {
  padding-top: 50px;
  padding-bottom: 20px;
}
.vita-reh .sec-tit2-pc {
  display: none;
}
.vita-reh .text-reh-pc {
  display: none;
}

@media screen and (min-width: 1280px) {
  .vita-reh {
    padding-top: 36px;
  }
  .vita-reh .sec-titbox {
    padding-bottom: 85px;
  }
  .vita-reh .sec-titbox .sec-tit2-mobile {
    display: none;
  }
  .vita-reh .sec-titbox .sec-tit2-pc {
    display: block;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .vita-reh .sec-img {
    height: 574px;
  }
  .vita-reh .sec-img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .vita-reh .text-reh-mobile {
    display: none;
  }
  .vita-reh .text-reh-pc {
    display: block;
    padding-top: 70px;
  }
  .vita-reh .text-reh-pc li {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.2px;
    padding-bottom: 8px;
  }
}
.hiscard-wrap {
  display: flex;
}

.vita-hist {
  padding: 30px 0;
}
.vita-hist .his-titbox {
  display: block;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 18px;
}
.vita-hist .his-titbox em {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
}
.vita-hist .hist-img {
  text-align: center;
  height: 244px;
  padding-right: 68px;
}
.vita-hist .hist-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.swiper-history {
  height: 320px;
}
.swiper-history .swiper-slide {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.swiper-history .hiscard {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  padding-bottom: 30px;
}
.swiper-history .hiscard .hiscard-year {
  padding-top: 13px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.72px;
}
.swiper-history .hiscard .hiscard-text {
  display: flex;
  flex-direction: column;
}
.swiper-history .hiscard .hiscard-text span {
  padding-top: 6px;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}
.swiper-history .hiscard-img {
  text-align: center;
  height: 48px;
}
.swiper-history .hiscard-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1280px) {
  .vita-hist {
    padding-top: 110px;
    margin: auto;
  }
  .vita-hist .his-titbox {
    padding-bottom: 140px;
  }
  .vita-hist .his-titbox .sec-subtit-bk {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px; /* 137.5% */
    letter-spacing: -1.6px;
  }
  .vita-hist .his-titbox .sec-tit2 {
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .vita-hist .his-titbox .sec-tit2-mobile {
    display: none;
  }
  .vita-hist .hist-container {
    display: flex;
    gap: 6px;
  }
  .vita-hist .hist-container .hist-img {
    height: 453px;
  }
  .vita-hist .hist-container .swiper-history {
    height: 463px;
  }
  .vita-hist .hist-container .swiper-history .swiper-slide {
    padding: 0;
  }
  .vita-hist .hist-container .swiper-history .swiper-slide .hiscard {
    gap: 19px;
  }
  .vita-hist .hist-container .swiper-history .swiper-slide .hiscard .hiscard-text span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.64px;
  }
  .vita-hist .hist-container .hiscard-wrap .hiscard-year {
    padding-top: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.8px;
  }
  .vita-hist .hist-container .hiscard-wrap .hiscard-img {
    height: 74px;
  }
}
.vita-prod .sec-titbox {
  padding-top: 72px;
  padding-bottom: 22px;
}

.swiper-prod .swiper-slide {
  padding: 0 25px;
}
.swiper-prod .swiper-slide .prod-box {
  width: 195px;
  height: 265px;
  border: 1.5px solid #f4f4f4;
  border-radius: 10px;
  background-color: #fff;
}
.swiper-prod .swiper-slide .prod-imgbox {
  height: 185px;
  border-radius: 10px;
  text-align: center;
}
.swiper-prod .swiper-slide .prod-imgbox img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.vita-prod .product-wrap {
  margin-bottom: 26px;
}

.prod-box .prod-textbox {
  padding: 0 15px;
}
.prod-box .prod-textbox .prod-text-tit {
  padding-bottom: 9px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
}
.prod-box .prod-textbox .prod-text-info {
  padding: 0;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #57575b;
}

.vita-prod .goto-wrap-mobile a {
  padding: 4px 14px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
  color: #57575b;
}

@media screen and (min-width: 1280px) {
  .vita-prod .swiper-prod {
    padding: 0 31px;
  }
  .vita-prod .swiper-prod .swiper-slide .prod-box {
    width: 276px;
    height: 383px;
    border: 1.5px solid #f4f4f4;
    border-radius: 16px;
    background-color: #fff;
  }
  .vita-prod .swiper-prod .swiper-slide .prod-imgbox {
    height: 276px;
    border-radius: 16px;
  }
  .vita-prod .prod-box .prod-textbox {
    padding-bottom: 23px;
  }
  .vita-prod .prod-box .prod-textbox .prod-text-tit {
    padding-bottom: 26px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.64px;
  }
  .vita-prod .prod-box .prod-textbox .prod-text-info {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
  }
  .vita-prod .product-wrap {
    width: 1280px;
    margin: auto;
    padding-bottom: 10px;
  }
  .goto-wrap {
    padding-top: 30px;
  }
}
.vita-vdo {
  padding-top: 34px;
}
.vita-vdo .sec-titbox {
  padding-top: 60px;
  padding-bottom: 20px;
}
.vita-vdo .swiper-wrapper {
  padding-bottom: 50px;
}
.vita-vdo .swiper-slide {
  height: 183px;
  text-align: center;
}
.vita-vdo .swiper-slide img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.vita-vdo .goto-wrap-pc .goto a {
  padding: 4px 27px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.56px;
  color: #57575b;
}

@media screen and (min-width: 1280px) {
  .vita-vdo .swiper-wrapper {
    padding-top: 27px;
  }
  .vita-vdo .swiper-wrapper .swiper-slide {
    height: 303px;
  }
}
#footer .ft-menu {
  display: flex;
  justify-content: space-between;
  height: 44px;
}
#footer .ft-menu .ft-gotositesub {
  width: 50%;
  background-color: #252222;
  border-bottom: 1px solid #7b7b7b;
}
#footer .ft-menu .ft-gotositesub span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  padding: 14px;
}
#footer .ft-menu .ft-gotositesub span::after {
  content: "\f13a";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 18px;
  vertical-align: middle;
  color: #fff;
  margin-left: 10px;
}

#footer .ft-container {
  background-color: #252222;
  height: 189px;
  padding: 30px 14px 0;
}
#footer .ft-container .ft-logo {
  text-indent: -9999px;
  width: 173px;
  height: 42px;
  background-image: url(../../images/comm/m_logo_gray.png);
  background-size: cover;
}
#footer .ft-container .ft-logoinfo {
  padding-top: 12px;
}
#footer .ft-container .ft-info .ft-link {
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
}
#footer .ft-container .ft-info .ft-link a {
  border-right: 1px solid #7b7b7b;
}
#footer .ft-container .ft-info .ft-link a:nth-child(1) {
  padding-right: 24px;
}
#footer .ft-container .ft-info .ft-link a:nth-child(2) {
  padding-right: 30px;
}
#footer .ft-container .ft-info .ft-link a:nth-child(3) {
  padding-right: 20px;
  border: none;
}
#footer .ft-container a,
#footer .ft-container p,
#footer .ft-container .ft-copyright {
  color: #7b7b7b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}

#footer .ft-gotosns {
  border-right: 1px solid #57575b;
}

#footer .ft-menu {
  position: relative;
}
#footer .ft-gotolist {
  display: none;
  color: #7b7b7b;
  position: absolute;
  background: #fcfcfc;
  height: 210px;
  z-index: 1000;
  bottom: 44px;
}
#footer .ft-gotolist ul {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  align-items: center;
}
#footer .ft-gotolist ul li {
  padding-top: 13px;
}
#footer .ft-gotolist a {
  display: block;
  width: 100%;
}
#footer .gotolist-sns {
  left: 0;
  padding-top: 38px;
  border-right: 1px solid #7b7b7b;
}
#footer .gotolist-family {
  right: 0;
}

@media screen and (min-width: 1280px) {
  .wrap {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
  }
  #main {
    min-height: calc(100vh - 300px - 1400px - 1153px - 1014px - 700px - 810px);
  }
  #main .vita-intro {
    height: 300px;
  }
  #main .vita-mp,
  #main .vita-zero {
    height: 700px;
  }
  #main .vita-reh {
    height: 1153px;
  }
  #main .vita-hist {
    height: 1014px;
  }
  #main .vita-prod {
    height: 700px;
  }
  #main .vita-vdo {
    height: 810px;
  }
  #footer {
    height: 312px;
  }
}
.vita-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vita-wrap .sec-titbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vita-wrap .sec-titbox .sec-tit1 {
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 55px; /* 157.143% */
  letter-spacing: -1.4px;
}
.vita-wrap .sec-titbox .sec-subtit-bk {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
}
.vita-wrap .sec-titbox .sec-subtit2 {
  display: none;
}
.vita-wrap .goto-wrap {
  display: none;
}
.vita-wrap .sec-text {
  display: flex;
  justify-content: center;
  text-align: center;
}
.vita-wrap .sec-text ul li {
  margin-bottom: 1px;
}
.vita-wrap .sec-text ul li span {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.56px;
}
.vita-wrap .sec-text ul li span::before {
  content: "\f00c";
  font-family: "Line Awesome Free";
  font-weight: 900;
  margin-right: 5px;
  margin-bottom: 5px;
}

.vita-reh .sec-tit2,
.vita-hist .sec-tit2 {
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -1px;
}

@media screen and (min-width: 1280px) {
  .vita-wrap .sec-titbox .sec-subtit-bk {
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1px;
  }
  .vita-wrap .sec-titbox .sec-tit1 {
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 5px;
    padding-bottom: 12px;
  }
  .vita-wrap .sec-titbox .sec-subtit2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.54px;
    color: #57575b;
  }
  .vita-wrap .sec-text ul li {
    padding-bottom: 12px;
  }
  .vita-wrap .sec-text ul li span {
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.92px;
  }
  .vita-wrap .sec-text ul li span::before {
    margin-right: 10px;
  }
  .vita-wrap .goto-wrap {
    display: block;
  }
}
.vita-prod .sec-titbox .sec-tit3,
.vita-vdo .sec-titbox .sec-tit3 {
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1px;
}
.vita-prod .sec-titbox .sec-subtit-gray,
.vita-vdo .sec-titbox .sec-subtit-gray {
  display: block;
  padding-bottom: 9px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
  color: #57575b;
}

@media screen and (min-width: 1280px) {
  .vita-prod .sec-titbox .sec-tit3,
  .vita-vdo .sec-titbox .sec-tit3 {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px; /* 137.5% */
    letter-spacing: -1.6px;
  }
  .vita-prod .sec-titbox .sec-subtit-gray,
  .vita-vdo .sec-titbox .sec-subtit-gray {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.54px;
  }
}
.vita-prod .goto-wrap-pc,
.vita-vdo .goto-wrap-pc {
  display: none;
}

.goto-wrap-mobile {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.goto-wrap-mobile .goto {
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #57575b;
  box-shadow: 1px 1px 1px 0px #57575b;
}
.goto-wrap-mobile .goto:hover, .goto-wrap-mobile .goto:active {
  background: #faf3d7;
}

@media screen and (min-width: 1280px) {
  .vita-prod .goto-wrap-mobile,
  .vita-vdo .goto-wrap-mobile {
    display: none;
  }
  .vita-prod .goto-wrap-mobile .goto-wrap-pc,
  .vita-vdo .goto-wrap-mobile .goto-wrap-pc {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .vita-prod .goto-wrap-mobile .goto-wrap-pc .goto,
  .vita-vdo .goto-wrap-mobile .goto-wrap-pc .goto {
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #57575b;
    box-shadow: 1px 1px 1px 0px #57575b;
  }
  .vita-prod .goto-wrap-mobile .goto-wrap-pc .goto a,
  .vita-vdo .goto-wrap-mobile .goto-wrap-pc .goto a {
    color: #57575b;
    padding: 8px 15px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.56px;
  }
  .swiper-prod .swiper-pg-pc,
  .swiper-vdo .swiper-pg-pc {
    display: none;
  }
}
@media screen and (min-width: 1280px) and (min-width: 1280px) {
  .swiper-prod .swiper-pg-pc,
  .siwper-vdo .swiper-pg-pc {
    display: block;
  }
}/*# sourceMappingURL=comm.css.map */